body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
}

.content {
  flex: 1;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  width: 150px;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
}button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
button:hover {
  background: #1d4ed8;
}
.card button {
  margin-top: 10px;
}
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
  height: auto;
}#studentsCount table {
    width: 100%;
    border-collapse: collapse; /* Merges borders into single lines */
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#studentsCount th {
    background-color: #009879; /* Green header */
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    padding: 12px 15px;
}

#studentsCount td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

/* Zebra Stripes: style every other row */
#studentsCount tr:nth-of-type(even) {
    background-color: #f3f3f3; /* Light grey for even rows */
}

/* Highlight row on mouse hover */
#studentsCount tr:hover {
    background-color: #f1f1f1;
}

.card-title {
  font-size: 16px;
  margin: 10px 0;
}
.card-price {
  color: #10b981;
  font-weight: bold;
}
