body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* Layout */
.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  padding: 1.5rem;
  min-height: 100vh;
}

.sidebar h2 {
  color: white;
  margin-bottom: 2rem;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.sidebar a:hover {
  color: white;
}

/* Content */
.content {
  flex: 1;
  padding: 2rem;
}

/* Cards */
.cards {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 1.5rem;
  width: 220px;
  border-radius: 0.75rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.card h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #475569;
}

.card span {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2563eb;
}

/* Table Section */
.table-section {
  background: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.table-section h2 {
  margin-bottom: 1rem;
}

/* Table */
#table table {
  width: 100%;
  
  border-collapse: collapse;
}

#table th,
#table td {
  padding: 0.75rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

#table th {
  background: #808f9e48;
}

#table tr:hover {
  background: #f8fafc;
}
/* =========================
   LOGIN PAGE (MIS STYLE)
   ========================= */

.login-body {
  background: #f4f6f8; /* same background as dashboard */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  background: white;
  width: 100%;
  max-width: 380px;
  padding: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color: #1e293b; /* same as sidebar */
}

.login-box input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.25rem;
  font-size: 0.95rem;
}

.login-box input:focus {
  outline: none;
  border-color: #2563eb;
}

.login-box button {
  width: 100%;
  padding: 0.75rem;
  background: #2563eb; /* same as buttons */
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.login-box button:hover {
  background: #1d4ed8;
}
button{
  padding: 0.5em;
  border-radius: 0.6em;
  background-color: rgb(16, 124, 167);

}

